<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt1zlIzMlw1AUzZOc0aFjnon6QfNSP7EA</string>
	<key>GCM_SENDER_ID</key>
	<string>635070946544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.presence.presence</string>
	<key>PROJECT_ID</key>
	<string>presence-3a25b</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-3a25b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635070946544:ios:b38250d5e590e694137635</string>
</dict>
</plist>